.tag-item {
  display: flex;
  align-items: flex-start;
  padding: 0.4em 0.5em;
  margin: 2px 2px 2px 0;
  background-color: #e1ecf4;
  color: #39739d;
  font-size: 12px;
  line-height: 1;
  white-space: nowrap;
  text-decoration: none;
  text-align: center;
  border-radius: 3px;
}
