.post__container {
  display: grid;
  grid-template-columns: max-content 1fr;
  padding: 1rem 1.5rem 1rem 1rem;
  border-bottom: 1px solid #e3e6e8;

  .vote-cell {
    grid-column: 1;
  }

  .post {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    grid-column: 2;
    border-bottom: 1px solid #e3e6e8;

    &__content {
      font-size: 16px;
    }

    &__tags {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    &__footer {
      display: flex;
      justify-content: space-between;
      font-size: 13px;
      margin: 0.5rem 0 1.5rem 0;

      .actions {
        display: flex;
        gap: 0.5rem;

        .action {
          cursor: pointer;
          text-decoration: none;
          color: #6a737c;
        }
      }

      .meta {
        display: flex;
        justify-content: space-between;

        gap: 1.5rem;

        &__date {
          color: #0477cc;
        }

        &__userCard {
          padding: 5px 6px 7px 7px;

          &.ques {
            background: #d9eaf7;
          }

          .top {
            margin-bottom: 0.4em;
            font-size: 12px;
            color: #6a737c;
          }

          .profile {
            display: flex;
            align-items: flex-start;
            gap: 0.5rem;

            &__photo {
              height: 32px;
              width: 32px;
            }

            &__name {
              color: #0477cc;
            }
          }
        }
      }
    }
  }

  .comment-cell {
    grid-column: 2;

    .comment__actions {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding-top: 1rem;
      font-size: 13px;

      .action {
        color: #0074cc;
        cursor: pointer;
      }

      .addCommentForm {
        display: flex;
        flex: 1;
        gap: 1rem;

        &__textarea {
          flex: 1;
          height: 75px;
          min-height: 65px;
          font-size: 13px;
          padding: 0.6em 0.7em;
          background-color: #fff;
          color: #333;
          border-radius: 3px;
          border: 1px solid #babfc4;
          outline: none;
          resize: vertical;

          &:focus {
            border-color: rgb(107, 187, 247);
            box-shadow: rgba(0, 116, 204, 0.15) 0px 0px 0px 4px;
          }
        }

        button {
          align-self: flex-start;
        }
      }
    }
  }
}
