.questionpage {
  display: flex;
  --sidebar-width: 180px;

  &__content {
    flex: 1;
    margin-left: var(--sidebar-width);
    padding: 1.5rem 0;
  }

  &__header {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    border-bottom: 1px solid #d6d9dc;

    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1rem;
      h1 {
        font-size: 1.7rem;
        font-weight: 400;
        color: #3b4045;
      }

      button {
        flex-shrink: 0;
        align-self: baseline;
        padding: 0.8em;
        margin-left: 1rem;
      }
    }

    .bottom {
      display: flex;
      gap: 1rem;
      align-items: center;
      margin-bottom: 1.5rem;

      &__item {
        font-size: 13px;
        color: #6a737c;

        span {
          color: #232629;
        }
      }
    }
  }

  .answers {
    &__header {
      display: flex;
      justify-content: space-between;
      padding: 1rem 0.75rem;

      .title {
        font-weight: 400;
        font-size: 19px;
        color: #232629;
      }

      .sort-container {
        select {
          margin-left: 5px;
          font-size: 13px;
          padding: 0.6em 0.7em;
          border: 1px solid #babfc4;
          border-radius: 3px;
          outline: none;

          &:focus {
            border-color: rgb(107, 187, 247);
            box-shadow: rgba(0, 116, 204, 0.15) 0px 0px 0px 4px;
          }
        }
      }
    }
  }
}
