.header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  padding: 0.5rem 1rem;
  background-color: #f8f9f9;
  box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.05), 0 1px 4px hsla(0, 0%, 0%, 0.05),
    0 2px 8px hsla(0, 0%, 0%, 0.05);
  border-top: 3px solid var(--clr-primary);

  &__logo {
    height: 30px;
    cursor: pointer;

    #logo-small {
      display: none;
    }

    @media screen and (max-width: 605px) {
      #logo-large {
        display: none;
      }

      #logo-small {
        display: block;
      }
    }
  }

  &__center {
    flex: 1;
    max-width: 780px;

    .search__bar {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 0.5rem;
      width: 100%;
      font-size: 13px;
      border-radius: 3px;
      border: 1px solid #babfc4;
      background-color: #fff;

      &:focus-within {
        border-color: rgb(107, 187, 247);
        box-shadow: rgba(0, 116, 204, 0.15) 0px 0px 0px 4px;
      }

      input {
        flex: 1;
        padding: 5px 0.5rem;
        border: none;
        outline: none;
        color: #333;
      }

      .icon {
        color: #babfc4;
        height: 18px;
        width: 18px;
        cursor: pointer;
      }

      @media screen and (max-width: 455px) {
        display: none;
      }
    }
  }

  &__end {
    display: flex;
    align-items: center;
    gap: 1rem;

    .header {
      &__profile {
        aspect-ratio: 1 / 1;
        height: 29px;
        border-radius: 3px;

        & > img {
          width: 100%;
          height: 100%;
          border-radius: inherit;
        }
      }
    }
  }
}
